### Buddy Debugging - 2024-01-31
---

#### 1.

In [ ]:

# Compute average of a and b separately and combined. 

import statistics

a = [5, 8, 9, 12, 7]
b = [3, '9', 6]
c = a + b

mean_a = mean(a)
mean_b = mean(b)
mean_c = mean(c)

print(f"a: {a}")
print(f"b: {b}")
print(f"c: {c}")

print(f"mean_a: {mean_a}")
print(f"mean_b: {mean_b}")
print(f"mean_c: {mean_c}")


<br>
<br>

#### 2.

In [ ]:

# Replace 11 with 13.

a = [2, 7, 9, 10, 11, 14]

eleven_indx = a.index(11)

a.replace(eleven_indx, 13)

print(f"a: {a}")


<br>
<br>
<br>
<br>
<br>



#### 3.

In [ ]:

# Sort wts in decreasing order (reverse sorted) and print the element at the
# 5th index.

wts = [62.0, 64.7, 66.9, 59.5, 61.2, 68.8, 71.4, 57.6]

ordered_wts = wts.sort()

rev_ordered_wts = ordered_wts.reverse()

fifth_element = rev_ordered_wts[5]

print(f"wts: {wts}")
print(f"rev_ordered_wts: {rev_ordered_wts}")
print(f"fifth_element: {fifth_element}")

#### 4.

In [ ]:

# Compute maximum of baby_snakes after removing 54 and 66.

baby_snakes = [20, 22, 27, 36, 17, 47, 54, 66]
baby_snakes.pop(54)
baby_snakes.pop(66)

max_baby_snakes = max(baby_snakes)

print(f"maximum of baby snakes: {max_baby_snakes}")

#### 5.

In [ ]:

# Append v2 and v3 to v1 and print the total number of planets.

v1 = ["mercury", "venus", "earth"]
v2 = ["mars", "jupyter", "saturn"]
v3 = ["uranus", "neptune"]

v1.append(v2)
v1.append(v3)

nbr_planets = len(v1)

print(f"v1: {v1}")
print(f"Number of planets: {nbr_planets}")

#### 6.

In [ ]:

# Convert values in names to uppercase, then sort alphabetically. 

names = ["sturgill", "hank", "waylon", "merle", "george"]
uppercase = names.upper()
sorted_uppercase = uppercase.sort()

print("sorted_uppercase: {sorted_uppercase}")

#### 7.

In [ ]:

# Convert scores to floats. Compute square root of sum.

scores = ["72.0", "52.7", "66.4", "99.1", "0.0"]
scores = float(scores)
sum_scores = sum(scores)
sqrt_sum_scores = math.sqrt(sum_scores)

print(f"sum_scores     : {sum_scores}")
print(f"sqrt_sum_scores: {sqrt_sum_scores}")


<br>
<br>
<br>
<br>

#### 8.

In [ ]:

# Combine digits from numbers into a single integer.

numbers = [4, 7, 9, 2, 5]
combined = "".join(numbers)
combined_as_int = int(combined)

print(f"combined_as_int: {combined_as_int}")


<br>
<br>
<br>
<br>
<br>





#### 9.

In [ ]:

# Swap the values of the first and last elements of fruits.

fruits = ["apple", "orange", "kiwi", "banana", "peach", "pineapple", "watermelon"]

print(f"fruits pre-swap: {fruits}")

fruits[0] = fruits[-1]
fruits[-1] = fruits[0]

print(f"fruits post-swap: {fruits}")

#### 10.

In [ ]:

# Determine the number of characters (including whitespace) in w1 and w2 combined.

w1 = ["ticking", "away", "the", "moments", "that", "make", "up", "a", "dull", "day"]
w2 = ["you", "fritter", "and", "waste", "the", "hours", "in", "an", "offhand", "way"]
w3 = w1 + w2

n_chars = len(w3)

print(f"Number of characters in w3: {n_chars}")